In [13]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import pickle

In [53]:
df=pd.read_csv('salaries.csv')
df = pd.get_dummies(df, drop_first=True)
df.head()

,work_year,salary,salary_in_usd,remote_ratio,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_FL,employment_type_FT,employment_type_PT,...,company_location_SK,company_location_TH,company_location_TR,company_location_UA,company_location_US,company_location_VE,company_location_VN,company_location_ZA,company_size_M,company_size_S
0,2024,168276,168276,0,False,True,False,False,True,False,...,False,False,False,False,True,False,False,False,True,False
1,2024,112184,112184,0,False,True,False,False,True,False,...,False,False,False,False,True,False,False,False,True,False
2,2024,180000,180000,0,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,True,False
3,2024,133500,133500,0,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,True,False
4,2024,122000,122000,0,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,True,False

In [54]:
print(df.dtypes)

work_year              int64
salary                 int64
salary_in_usd          int64
remote_ratio           int64
experience_level_EX     bool
                       ...
company_location_VE     bool
company_location_VN     bool
company_location_ZA     bool
company_size_M          bool
company_size_S          bool
Length: 459, dtype: object

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57194 entries, 0 to 57193
Columns: 459 entries, work_year to company_size_S
dtypes: bool(455), int64(4)
memory usage: 26.6 MB

In [56]:
df.describe()

          work_year        salary  salary_in_usd  remote_ratio
count  57194.000000  5.719400e+04   57194.000000  57194.000000
mean    2023.776305  1.641818e+05  159223.565829     22.211246
std        0.519883  2.060327e+05   72155.164297     41.424262
min     2020.000000  1.400000e+04   15000.000000      0.000000
25%     2024.000000  1.094000e+05  109300.000000      0.000000
50%     2024.000000  1.495520e+05  149040.000000      0.000000
75%     2024.000000  2.000000e+05  200000.000000      0.000000
max     2024.000000  3.040000e+07  800000.000000    100.000000

In [57]:
df.isnull().sum()

work_year              0
salary                 0
salary_in_usd          0
remote_ratio           0
experience_level_EX    0
                      ..
company_location_VE    0
company_location_VN    0
company_location_ZA    0
company_size_M         0
company_size_S         0
Length: 459, dtype: int64

In [64]:
from sklearn.model_selection import train_test_split

X = df.drop('salary_in_usd', axis=1)
y = df['salary_in_usd']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [74]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [79]:
import pickle

with open("model.pkl", "wb") as f:
    pickle.dump(model, f)

model_columns = X.columns.tolist()
with open("model_columns.pkl", "wb") as f:
    pickle.dump(model_columns, f)

print("Model and columns saved successfully")

Model and columns saved successfully

In [76]:
print(y_pred[:10])

[202305.73 197815.82 262025.96 124000.   103677.64 302876.5   75000.
 205600.4  148000.    90000.  ]

In [78]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Absolute Error: ", mae)
print("Mean Squared Error: ", mse)
print("RÂ² Score: ", r2)

Mean Absolute Error:  247.9696284640266
Mean Squared Error:  33951591.52130381
RÂ² Score:  0.9934124844969476

In [80]:
import pickle

with open("model.pkl", "wb") as f:
    pickle.dump(model, f)

with open("model_columns.pkl", "wb") as f:
    pickle.dump(X.columns.tolist(), f)